.container {
  padding: 10px 0px 10px 10px;
  margin-left: 10px;
  width: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  height: 100vh;
  background-color: #0F1B29;
  scrollbar-color: black, white;
}

.scrollable-section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  gap: 10px;
  scrollbar-color: black, white;
}

.friend-item {
  background-color: #0F1B29;
  border-radius: 10px;
  display: flex;
  flex-direction: start;
  align-items: center;
  cursor: pointer;
  color: white;

  box-sizing: border-box;
  width: 98%;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 10px;
  scrollbar-color: black, white;
}

.friend-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 10px 0px 10px;
  scrollbar-color: black, white;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 90%;
  background-color: #0F1B29;
  border-radius: 10px;
  margin-left: 10px;
  scrollbar-color: black, white;
}

.search-bar input {
  width: 100%;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  flex-direction: start;
  border: 1px solid #ccc;
  background-color: #0F1B29;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  scrollbar-color: black, white;
}

.search-bar input:focus {
  outline: none;
}